// [[ Bulk RNA-Seq Pipeline Config ]]
params.proj_name = 'Bulk-RNA-Analysis'
params.species = 'Human'  // human/Human/HUMAN, mouse/Mouse/MOUSE, rattus/Rattus/RATTUS and others

params.config_directory = '/path/to/config_dir/Bulk_RNA_Seq_NextFlow_Pipeline'
params.fastq_files = '/path/to/config_dir/fastq_files'
params.samples_file = '/path/to/config_dir/Bulk_RNA_Seq_NextFlow_Pipeline/rna_seq_samples.txt'

// FastQC
params.fastqc_cores = 1

// STAR Genome directories
params.star_index = '/path/to/STAR_index_human'
params.reference_gtf = '/path/to/gencode.v38.primary_assembly.annotation.gtf'

params.exclude_bed_file_path='/path/to/filter.bed'
params.blacklist_bed_file_path='/path/to/blacklist.bed'

params.paired_end = true  // Set to true for paired-end, false for single-end
// Suffix for the samples; example: 389-1_S1_R1_001.fastq.gz; here 389-1_S1 is the sample and _R1_001 is the suffix
params.read1_suffix = "_R1_001"
params.read2_suffix = "_R2_001"
params.file_extension = "fastq.gz"

// clipping reads
params.clip5_num = 11
params.clip3_num = 5

// #########################################################################################################################################
// #########################################################################################################################################

// additional params
params.strand_st = '--rf'  // read more: https://ccb.jhu.edu/software/stringtie/index.shtml?t=manual
params.strand_hts = 'reverse'  // yes, no or reverse values can be used, read more: https://htseq.readthedocs.io/en/release_0.11.1/count.html
params.paired_hts = 'pos'  // name and pos values can be used, read more: https://htseq.readthedocs.io/en/release_0.11.1/count.html

// process mgmt
run_fastqc = false
run_rna_pipeline = false

// #########################################################################################################################################
// #########################################################################################################################################